<div class="container">
<div class="row">
        <div class="col-sm-12 total">
            
                <div class="A">
                <google-chart [data]="pieChart"></google-chart>
                </div>
            
        </div>
            <div class="col-sm-12 total">
                
                    <div class="A">
                    <google-chart [data]="columnChart"></google-chart>
                    </div>
                
            </div>
</div>
</div>
<!-- <div class="A">
<google-chart [data]="pieChart"></google-chart>
</div>
<div class="A">
<google-chart [data]="columnChart"></google-chart>
</div> -->
